rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }

    match /users/{uid} {
      allow create, read, update, delete: if signedIn() && request.auth.uid == uid;
    }

    match /leaderboards/{uid} {
      allow read: if true;
      allow create, update: if signedIn()
        && request.auth.uid == uid
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.championships is int
        && request.resource.data.matchWins is int
        && request.resource.data.totalKOs is int
        && request.resource.data.longestStreak is int
        && request.resource.data.bestBracket is int
        && request.resource.data.damageDealt is int;
      allow delete: if signedIn() && request.auth.uid == uid;
    }
  }
}
